# Data visualization (Basics)

- Representation of the data in a pictorial or graphical format
- Allow us to get the intuitive understanding of the data
- Helps to visualize the patterns in the data
- Python offers multiple great graphing libraries that come packed with lots of different features.
- Matplotlib: low level, provides lots of freedom
- Pandas Visualization: easy to use interface, built on Matplotlib
- Seaborn: high-level interface, great default styles
- Plotly: can create interactive plots
- Bokeh: used creating interactive visualizations for modern web browsers"

### Primary Objects of matplotlib
<img src = "./images/figure.png" align = left width = 300>
<br><br><br><br><br><br><br><br>

- The [figure] is the overall figure space that can contain one or more plots
- The [axes] is the individual plots that are rendered within the figure

### Anatomy of a figure

<img src = "./images/figure_anatomy.jpg" align = left width = 400>

### Using matplotlib.pyplot library to plot a chart

#### Installing library -

!pip install matplotlib

#### Importing library -

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import numpy as np
dates = np.arange('2024-09-01', '2024-10-01', dtype='datetime64[D]')
sensex = np.random.randint(79000, 82000, size = 30)
nifty = np.random.randint(23000, 25000, size = 30)

In [ ]:
plt.figure(figsize=(15, 4))
_ = plt.plot(dates, sensex, color = "teal", marker = "o", ls = "-.")
plt.title("Sensex over days in month of september", loc = "left", pad = 10, color = "midnightblue", size = "x-large")

plt.xlabel("DAYS", color = "midnightblue", size = "small")
plt.xticks(dates, range(1, 31), color = "slategray", size = "small")

plt.ylabel("Sensex", color = "midnightblue", size = "small")
plt.yticks(range(sensex.min()-500, sensex.max()+1000, 500), color = "slategray", size = "small")

plt.grid(axis="y", ls = ":")

# Adding annotations for high and low
x_cord = dates[sensex.argmax()]
y_cord = sensex[sensex.argmax()]
plt.annotate("High", xy = (x_cord, y_cord+200), ha = "center")
plt.annotate("Low", xy = (dates[sensex.argmin()], sensex[sensex.argmin()]-200), ha = "center")
plt.show()

##### Use plt.show() as the last line of the code. It suppresses the memory address information

###### Ex. Visualise Sensex and Nifty in same chart

In [ ]:
plt.figure(figsize=(15, 4))
_ = plt.plot(dates, sensex, color = "teal", marker = "o", ls = "-.")
_ = plt.plot(dates, nifty, color = "orange", marker = "o", ls = "-.")

plt.title("Sensex and Nifty over days in month of september", loc = "left", pad = 10, color = "midnightblue", size = "x-large")

plt.xlabel("DAYS", color = "midnightblue", size = "small")
plt.xticks(dates, range(1, 31), color = "slategray", size = "small")

plt.yticks(range(nifty.min()-1000, sensex.max()+1000, 5000), color = "slategray", size = "small")

plt.grid(axis="y", ls = ":")
plt.legend(["Sensex", "Nifty"], labelcolor = "midnightblue", fontsize = "x-small")

plt.show()

### Creating Subplots

###### Ex. Visualise sales and profits as subplots

In [ ]:
fig, axes = plt.subplots(nrows=2, figsize = (12, 4), sharex=True)
axes[0].plot(dates, sensex, color = "teal", marker = "o", ls = "-.")
axes[1].plot(dates, nifty, color = "orange", marker = "o", ls = "-.")

axes[0].set_title("Sensex over days", loc = "left", pad = 5, color = "midnightblue", size = "medium")
axes[1].set_title("Nifty over days", loc = "left", pad = 5, color = "midnightblue", size = "medium")

axes[0].grid(axis="y", ls = ":")
axes[1].grid(axis="y", ls = ":")

axes[1].set_xticks(dates, range(1, 31), color = "slategray", size = "small")

axes[0].set_yticks(range(sensex.min()-500, sensex.max()+500, 800))
axes[1].set_yticks(range(nifty.min()-500, nifty.max()+500, 800))

plt.savefig("fig.png")

### Additional chart types

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
products = np.array(['Caffe Latte', 'Cappuccino', 'Colombian', 'Darjeeling', 'Decaf Irish Cream', 'Earl Grey', 'Green Tea', 'Lemon', 'Mint', 'Regular Espresso'])
sales = np.array([52248.0, 14068.0, 71060.0, 60014.0, 69925.0, 27711.0, 19231.0, 24873.0, 32825.0, 44109.0])
profits = np.array([17444.0, 5041.0, 28390.0, 20459.0, 23432.0, 7691.0, -2954.0, 7159.0, 10722.0, 14902.0])
target_profits = np.array([15934.0, 4924.0, 31814.0, 19649.0, 24934.0, 8461.0, 7090.0, 7084.0, 10135.0, 16306.0])
target_sales = np.array([48909.0, 13070.0, 80916.0, 57368.0, 66906.0, 30402.0, 18212.0, 21628.0, 27336.0, 42102.0])

#### Bar chart

###### Ex. Create a bar chart displaying sales for different products. Incorporate the following elements into the chart:

1. Add a title, grid lines, and an average line.
2. Adjust the y-axis ticks to display in thousands.
3. Include annotations for each bar, showing values in thousands.
4. Sort the bars in descending order of sales

In [ ]:
# for numpy version < 2.1.1
y_ticks_labels = pd.Series((y_ticks // 1000).astype(int).astype(str)) + "K"
y_ticks_labels.values

In [ ]:
plt.figure(figsize=(10, 2)) # figure object
# Plot bar chart in sorted order
sort_ord = sales.argsort()[::-1]
plt.bar(products[sort_ord], sales[sort_ord], width=0.6, color = "teal", edgecolor = "black", linewidth = 0.5)
# Add title, grid and avg line
plt.title("Sales across Products", loc = "left", pad = 10, color = "midnightblue", size = "medium")
plt.grid(axis="y", color = "lightslategray", ls = ":", alpha = 0.4)
plt.axhline(sales.mean(), color = "orange", ls = "--")
plt.annotate(f"Avg Sales~ {sales.mean()}", xy = (products[sort_ord][-1], sales.mean()+1000), 
             size = 7,  color = "midnightblue", ha = "right", va = "bottom")

# format x and y ticks, y - ticks in K format
plt.xticks(size = 6,  color = "darkslategray")

y_ticks = np.arange(int(sales.min()) - 1000, int(sales.max()) + 20000, 10000)
y_ticks_labels = (y_ticks // 1000).astype(int).astype(str) + "K"
plt.yticks(y_ticks, y_ticks_labels, size = 6,  color = "darkslategray")

# Adding annotations for bar
sales_annot = (sales[sort_ord] // 1000).astype(int).astype(str) + "K"
for x_cord, y_cord, label in zip(products[sort_ord], sales[sort_ord], sales_annot) :
    plt.annotate(label, xy = (x_cord, y_cord), size = 7,  color = "darkslategray", ha = "center", va = "bottom")

plt.show()

###### Example - Altering the above graph to display annotations at the bottom of the bar

In [ ]:
plt.figure(figsize=(10, 2)) # figure object
# Plot bar chart in sorted order
sort_ord = sales.argsort()[::-1]
plt.bar(products[sort_ord], sales[sort_ord], width=0.6, color = "teal", edgecolor = "black", linewidth = 0.5)
# Add title, grid and avg line
plt.title("Sales across Products", loc = "left", pad = 10, color = "midnightblue", size = "medium")
plt.grid(axis="y", color = "lightslategray", ls = ":", alpha = 0.4)
plt.axhline(sales.mean(), color = "orange", ls = "--")
plt.annotate(f"Avg Sales~ {sales.mean()}", xy = (products[sort_ord][-1], sales.mean()+1000), 
             size = 7,  color = "midnightblue", ha = "right", va = "bottom")

# format x and y ticks, y - ticks in K format
plt.xticks(size = 6,  color = "darkslategray")

y_ticks = np.arange(int(sales.min()) - 1000, int(sales.max()) + 20000, 10000)
y_ticks_labels = (y_ticks // 1000).astype(int).astype(str) + "K"
plt.yticks(y_ticks, y_ticks_labels, size = 6,  color = "darkslategray")

# Adding annotations for bar
sales_annot = (sales[sort_ord] // 1000).astype(int).astype(str) + "K"
for x_cord, label in zip(products[sort_ord], sales_annot) :
    plt.annotate(label, xy = (x_cord, 1000), size = 7,  color = "white", ha = "center", va = "bottom")

plt.show()

#### Stacked bar chart

###### Ex. Include profits in the above chart as a stacked bar chart

In [ ]:
plt.figure(figsize=(10, 2)) # figure object
# Plot bar chart in sorted order
sort_ord = sales.argsort()[::-1]
plt.bar(products[sort_ord], sales[sort_ord], width=0.6, color = "teal", edgecolor = "black", linewidth = 0.5, bottom=0)
plt.bar(products[sort_ord], profits[sort_ord], width=0.6, color = "cyan", edgecolor = "black", linewidth = 0.5, bottom=0)
# Add title, grid and avg line
plt.title("Sales across Products", loc = "left", pad = 10, color = "midnightblue", size = "medium")
plt.grid(axis="y", color = "lightslategray", ls = ":", alpha = 0.4)

# format x and y ticks, y - ticks in K format
plt.xticks(size = 6,  color = "darkslategray")

y_ticks = np.arange(0, int(sales.max()) + 25000, 20000)
y_ticks_labels = (y_ticks // 1000).astype(int).astype(str) + "K"
plt.yticks(y_ticks, y_ticks_labels, size = 6,  color = "darkslategray")

# Adding annotations for bar
sales_annot = (sales[sort_ord] // 1000).astype(int).astype(str) + "K"
for x_cord, y_cord, label in zip(products[sort_ord], sales[sort_ord], sales_annot) :
    plt.annotate(label, xy = (x_cord, y_cord), size = 7,  color = "darkslategray", ha = "center", va = "bottom")

# Adding annotations for bar
profit_annot = (profits[sort_ord] // 1000).astype(int).astype(str) + "K"
for x_cord, y_cord, label in zip(products[sort_ord], profits[sort_ord], profit_annot) :
    plt.annotate(label, xy = (x_cord, y_cord), size = 7,  color = "white", ha = "center", va = "bottom")

plt.show()

#### Side by Side Bar Chart

###### Ex. Convert the stacked bar chart into side by side bar chart. Add following changes to the chart - 
1. Adjust the annotations co-ordinates
2. Change color of negative profits to red

In [ ]:
plt.figure(figsize=(10, 2)) # figure object
# Plot bar chart in sorted order
sort_ord = sales.argsort()[::-1]
colors = np.where(profits[sort_ord] > 0, "cyan", "lightcoral")
plt.bar(products[sort_ord], sales[sort_ord], width=-0.4, color = "teal", edgecolor = "black", linewidth = 0.5, align = "edge")
plt.bar(products[sort_ord], profits[sort_ord], width=0.4, color = colors, edgecolor = "black", linewidth = 0.5, align = "edge")

# Add title, grid and avg line
plt.title("Sales across Products", loc = "left", pad = 10, color = "midnightblue", size = "medium")
plt.grid(axis="y", color = "lightslategray", ls = ":", alpha = 0.4)

# format x and y ticks, y - ticks in K format
plt.xticks(size = 6,  color = "darkslategray")

y_ticks = np.arange(0, int(sales.max()) + 25000, 20000)
y_ticks_labels = (y_ticks // 1000).astype(int).astype(str) + "K"
plt.yticks(y_ticks, y_ticks_labels, size = 6,  color = "darkslategray")

# Adding annotations for bar
sales_annot = (sales[sort_ord] // 1000).astype(int).astype(str) + "K"
for x_cord, y_cord, label in zip(products[sort_ord], sales[sort_ord], sales_annot) :
    plt.annotate(label, xy = (x_cord, y_cord), size = 7,  color = "darkslategray", ha = "right", va = "bottom")

# Adding annotations for bar
profit_annot = (profits[sort_ord] // 1000).astype(int).astype(str) + "K"
for x_cord, y_cord, label in zip(products[sort_ord], profits[sort_ord], profit_annot) :
    plt.annotate(label, xy = (x_cord, y_cord), size = 7,  color = "darkslategray", ha = "left", va = "bottom")

plt.show()

#### Bullet chart

###### Ex. Design a bullet chart to illustrate profit target status. Ensure the chart includes the following components:

1. Utilize a horizontal bar chart format.
2. Represent profit values with bars, and indicate targets with a vertical line.
3. Adjust the x-axis ticks to display in thousands.
4. Calculate the percentage of target achievement and visually highlight it using a red-amber-green color scheme.

In [ ]:
percentage = profits/target_profits
conditions = [percentage < 0.85, percentage < 1.0, percentage >= 1.0]
results = ["lightcoral", "yellow", "lightgreen"]
np.select(conditions, results, default= "grey")

In [ ]:
if percentage < 0.85 :
    print("red")
elif percentage < 1.0:
    print("yellow")
elif percentage >= 1.0:
    print("green")
else:
    print("grey")

In [ ]:
percentage = profits/target_profits
conditions = [percentage < 0.85, percentage < 1.0]
results = ["lightcoral", "yellow"]
np.select(conditions, results, default= "lightgreen")

In [ ]:
if percentage < 0.85 :
    print("red")
elif percentage < 1.0:
    print("yellow")
else:
    print("green")

In [ ]:
plt.figure(figsize=(10, 5)) # figure object
# colors = np.where(profits > target_profits, "lightgreen", "lightcoral")
percentage = profits/target_profits
conditions = [percentage < 0.85, percentage < 1.0, percentage < 1.05, percentage >= 1.05]
results = ["lightcoral", "orange", "lightgreen", "green"]
colors = np.select(conditions, results, default= "grey")
plt.barh(products, profits, height=0.5, color = colors, edgecolor = "black", linewidth = 0.5)
plt.plot(target_profits, products, ls = "", marker = "|", markersize = 18)

# Add title, grid and avg line
plt.title("Profit Targets across Products", loc = "left", pad = 10, color = "midnightblue", size = "medium")
plt.grid(axis="x", color = "lightslategray", ls = ":", alpha = 0.4)

# format x and y ticks, y - ticks in K format
plt.yticks(size = 6,  color = "darkslategray")

x_ticks = np.arange(int(profits.min()) - 500, max(int(profits.max()), int(target_profits.max())) + 1000, 2000)
x_ticks_labels = (x_ticks // 1000).astype(int).astype(str) + "K"
plt.xticks(x_ticks, x_ticks_labels, size = 6,  color = "darkslategray")

plt.show()

#### Pie chart

In [ ]:
plt.figure(figsize=(4, 4))
# plt.pie(sales, labels = products, autopct="%1.1f%%")
exp = np.insert(np.zeros(9), 0, 0.1)
plt.pie(sales[sort_ord], labels = products[sort_ord], autopct="%1d%%", startangle=90, 
        counterclock=False, explode=exp, shadow = True, wedgeprops={'edgecolor': 'black', "linewidth" : 0.4},
       textprops={"fontsize" : 6, "color" : "darkslategrey"})
plt.show()

#### Scatter Plot

In [ ]:
m, c = np.polyfit(sales, profits, 1)

In [ ]:
plt.figure(figsize=(4, 3))

plt.scatter(sales, profits)

m, c = np.polyfit(sales, profits, 1)
y = m * sales + c
plt.plot(sales, y, color = "lightcoral")

x_ticks = np.arange(int(min(sales))-1000, max(sales) + 5000,10000).astype(int)
x_labels = (x_ticks // 1000).astype(str) + "K"
plt.xticks(x_ticks, x_labels, size = 6,  color = "darkslategray")
plt.xlabel("Sales", size = 8,  color = "black")

y_ticks = np.arange(int(min(profits))-1000, max(profits) + 5000,5000).astype(int)
y_labels = (y_ticks // 1000).astype(str) + "K"
plt.yticks(y_ticks, y_labels, size = 6,  color = "darkslategray")
plt.ylabel("Profits", size = 8,  color = "black")

plt.show()

###### Functions to validate the best fit line

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
r2_score(profits, y)

<hr><hr>

# Introduction to Pandas Library
- Pandas is an open source library in python which is know for its rich applications and utilities for all kinds of mathematical, financial and statistical functions
- It is useful in data manipulation and analysis
- It provides fast, flexible, and expressive data structures designed to make working with structured (tabular, multidimensional, potentially heterogeneous) and time series data

#### Installing pandas

In [ ]:
!pip install pandas

#### Importing pandas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Comparision between Arrays, Series and Dataframes

<table style="width: 70%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; float: left;">
    <thead>
        <tr style="background-color: #050A30; color: white;">
            <th style="width: 20%;">Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Arrays</td>
            <td>
                <ul>
                    <li>1D datastructure</li>
                    <li>Belongs to numpy library</li>
                    <li>Compatible with all numpy functions</li>
                    <li>Use matplotlib/seaborn to visualize arrays</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Series</td>
            <td>
                <ul>
                    <li>1D datastructure</li>
                    <li>Belongs to pandas library</li>
                    <li>Compatible with all numpy and most of pandas functions</li>
                    <li>Use ser_obj.to_frame() to convert to 2D object if needed</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Dataframes</td>
            <td>
                <ul>
                    <li>2D datastructure</li>
                    <li>Belongs to pandas library</li>
                    <li>Compatible with all numpy and pandas functions</li>
                    <li>Each column from dataframe is a series object</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

###### Example -

In [ ]:
employees = {"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"],
            "Salary": [40000, 60000, 25000, 12000, 70000]}

df = pd.DataFrame(employees)
df

In [ ]:
type(df)

In [ ]:
type(df.Name)

In [ ]:
data = np.where(df.Salary > 50000, "Group A", "Group B")
type(data)

In [ ]:
data  # use indexing to access the elements

In [ ]:
df.Name  # labels/index and values

In [ ]:
df.Name.values  # extracting values from the series object

In [ ]:
df.Name.index  # extracting index labels from the series object

In [ ]:
df.Name.to_frame()  # converting 1D series object to a 2D df object

#### Creating Dataframes

In [ ]:
employees = {"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"],
            "Salary": [40000, 60000, 25000, 12000, 70000]}

df = pd.DataFrame(employees)
df

#### Accessing Dataframes

###### Ex. Extarct Name column

In [ ]:
df.Name

In [ ]:
df["Name"]

In [ ]:
df[["Name", "Salary"]]

#### Setting and Re-setting index labels

- `df.set_index(keys, drop=True, inplace=False,)`- Set the DataFrame index (row labels) using one or more existing columns or arrays (of the correct length). The index can replace the existing index or expand on it.
- `df.reset_index(level=None, drop=False, inplace=False,)` - Reset the index of the DataFrame, and use the default one instead. If the DataFrame has a MultiIndex, this method can remove one or more levels.

In [ ]:
df.set_index("Name", inplace=True)

In [ ]:
df.reset_index(inplace=True)

#### Indexing and Slicing on DataFrames
1. Based on labels - loc
2. Based on index positions - iloc

In [ ]:
df.set_index("Name", inplace=True)
df

###### Ex. Extract data for "Jack"

In [ ]:
df.loc["Jack"]  # series object as it is extracting single row

###### Ex. Extract data for Jack and Lizie

In [ ]:
df.loc[["Jack", "Lizie"]]  # mutiple rows and multiple cols hence df object

###### Ex. Extract salary data for Jack and Lizie

In [ ]:
df.loc[["Jack", "Lizie"], "Salary"]  # series object

###### Ex. Extract data for row index 2

In [ ]:
df.iloc[2] # series object

###### Ex. Extract data for row index 1 to 3

In [ ]:
df.iloc[1:4] # series object

#### Filtering Dataframes

In [ ]:
df

###### Ex. Extract salary > 50000

In [ ]:
df[df["Salary"] > 50000]

###### Ex. Extract salary between 20000 to 50000

In [ ]:
df[df["Salary"].between(20000, 50000)]

###### Ex. Extract designation either as HR or Developer

In [ ]:
df[df.Designation.isin(("HR", "Developer"))]

###### Ex. Extract employees who name starts with J

In [ ]:
df[df.Name.str.startswith("J")]

##### Note - Warning while updating filtered dataframe

###### Ex. Modify the salary of all employees to 80000 whose original salary is > 300000

In [ ]:
df.loc[df.Salary > 30000, "Salary"] = 80000
df

#### Operations on dataframes

###### Ex. Average Salary

In [ ]:
df.Salary.mean()

###### Ex. Average Salary of managers

In [ ]:
df[df.Designation == "Manager"].Salary.mean()

### Concataneting and Merging Dataframes

In [ ]:
df_jan = pd.DataFrame({"Order ID" : range(101, 104), "Sales" : np.random.randint(10000, 50000, 3)})
df_feb = pd.DataFrame({"Order ID" : range(111, 114), "Sales" : np.random.randint(10000, 50000, 3)})
df_mar = pd.DataFrame({"Order ID" : range(121, 124), "Sales" : np.random.randint(10000, 50000, 3)})

#### Concatenate
pd.concat(`tuple of dfs`, `ignore_index = False`, `axis=0`)

In [ ]:
pd.concat((df_jan, df_feb, df_mar), ignore_index=True)

In [ ]:
pd.concat((df_jan, df_feb, df_mar), axis=1) # column-wise

#### Merging Dataframes

`df1.merge(df2, how="", on = "", left_on="", right_on="", left_index= "" , right_index="")`

In [ ]:
df_emp = pd.DataFrame({"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"]})
df_emp

In [ ]:
base_salaries = pd.DataFrame({"Designation" : ["HR", "Developer", "Manager", "Senior Manager"],
            "Salary": [40000, 25000, 70000, 1000000]})
base_salaries

#### Inner Merge

In [ ]:
df_emp.merge(base_salaries, how="inner", on = "Designation")  # returns only common rows

#### Left Merge

In [ ]:
df_emp.merge(base_salaries, how="left", on = "Designation")  # returns all rows from left table

#### Right Merge

In [ ]:
df_emp.merge(base_salaries, how="right", on = "Designation")  # returns all rows from right table

#### Outer Merge

In [ ]:
df_emp.merge(base_salaries, how="outer", on = "Designation")  # returns all rows from both tables

#### Set file path

In [ ]:
import os
os.getcwd() # gives current working directory

In [ ]:
os.chdir(r"C:\Users\vaide\Desktop\Optum Global nov 24\Optum_Global_nov_24\datasets")

### Read data from Database

- Syntax - dialect+driver://username:password@host:port/database
            
- Mysql - "mysql+pymysql://root:1234@localhost:3306/onlineshopping"
- Oracle - "oracle+cx_oracle://s:t@dsn"

In [ ]:
from sqlalchemy import create_engine
conn = create_engine(r"sqlite:///employee.sqlite3")
conn

In [ ]:
df = pd.read_sql("Employee", conn)  # read data from table to df

In [ ]:
df.drop(columns=["index"], inplace=True)  # modification to data

In [ ]:
# write the data to database table
df.to_sql("Employee", conn, if_exists="replace", index=False)

### Read data from api using json object

In [ ]:
import requests
response = requests.get(r"http://127.0.0.1:5000/tasks")

Data - 
{
    "TaskNo": [
        1,
        2
    ],
    "Task": [
        "Flask Project",
        "Meeting at 3"
    ],
    "Created_date": [
        "2023-09-15 10:00:25.116253",
        "2023-09-15 13:49:46.580811"
    ],
    "Due_date": [
        "2023-09-16 00:00:00",
        "2023-09-17 00:00:00"
    ],
    "Status": [
        "In-Progress",
        "In-Progress"
    ]
}

In [ ]:
pd.DataFrame(response.json())

Data - [
    {
        "TaskNo": 1,
        "Task": "Flask Project",
        "Created_date": "2023-09-15 10:00:25.116253",
        "Due_date": "2023-09-16 00:00:00",
        "Status": "In-Progress"
    },
    {
        "TaskNo": 2,
        "Task": "Meeting at 3",
        "Created_date": "2023-09-15 13:49:46.580811",
        "Due_date": "2023-09-17 00:00:00",
        "Status": "In-Progress"
    }
]

In [ ]:
pd.DataFrame(requests.get(r"http://127.0.0.1:5000/tasks1").json())

In [ ]:
pd.read_json(r"file_path")

### Save the Data to json/csv/excel

In [ ]:
df = pd.DataFrame(requests.get(r"http://127.0.0.1:5000/tasks1").json())
df.to_csv(r"data.csv")

In [ ]:
df.to_json(r"data.json")

##### Note - to connect to excel; openpyxl library is needed

In [ ]:
pip install openpyxl

### Read data from files

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams["figure.figsize"] = (4, 3)

df = pd.read_csv(r"employees.csv")
df.head()

### Analysis on Categorial Data

###### Ex. Find number of employees owning a car

In [ ]:
df["Owns Car"].value_counts()

In [ ]:
(df["Owns Car"].value_counts(normalize=True) * 100).round(2)

###### Ex. Visualise using bar chart

In [ ]:
# using matplotlib
data = df["Owns Car"].value_counts()
_ = plt.bar(data.index, data.values, color = ["lightgreen", "lightcoral"], edgecolor = "black", linewidth = 0.4)

In [ ]:
# using pandas
data = df["Owns Car"].value_counts()
_ = data.plot(kind = "bar", title = "Counts of Car owners")

In [ ]:
# using seaborn
_ = sns.countplot(data=df, x = "Owns Car")

In [ ]:
# using seaborn
plt.figure(figsize = (7, 2))
_ = sns.countplot(data=df, hue = "Owns Car", x = "Designation")
plt.title("Count Plot", size = 8, loc = "Left")
plt.xlabel("")
plt.ylabel("")

plt.xticks(size = 6)
plt.yticks(size = 6)

plt.legend(fontsize = 6)
plt.show()

### Analysing Numerical Variable

#### Descriptive Statistics

In [ ]:
df.Salary.describe()

In [ ]:
df.select_dtypes("number").describe().astype(int)

###### Ex. Visualize distribution

In [ ]:
fig, axes = plt.subplots(ncols=2, figsize = (7, 3))
sns.histplot(data= df, x = "Age", kde = True, ax = axes[0])
sns.histplot(data= df, x = "Salary", kde = True, ax = axes[1])
plt.show()

In [ ]:
fig, axes = plt.subplots(ncols=2, figsize = (10, 3))
sns.boxplot(data= df, y = "Age", ax = axes[0])
sns.boxplot(data= df, y = "Salary",  ax = axes[1])
plt.show()

###### Ex. There are 2 outliers in the emp df. Identify the outliers (name of emp) and remove the outliers from the df

### Analysis Numeric - Categorial Data

###### Ex. Visualise Avg Salary by Designation

In [ ]:
df.groupby("Designation")["Salary"].mean()

In [ ]:
df.groupby("Designation")["Salary"].mean().plot(kind = "bar") # using plot() from pandas

In [ ]:
plt.figure(figsize = (7, 2))
sns.barplot(data = df, x = "Designation", y = "Salary", hue = "Designation", errorbar=None)

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>